<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

   <head>
      <title>URL Shortener Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Basejump: URL Shortener Microservice</h1>
         
        <div id = "user-stories">
          <div id = "user-stories-text">
          <p>User Stories:</p>
          <ol>
            <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
            <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
            <li>When I visit that shortened URL, it will redirect me to my original link.</li>
          </ol>
          </div>
        </div>
        
        
       
        <div>
          <h3>Example Creation Usage</h3>
          <a href="https://mack-url-shortener.glitch.me/https://www.facebook.com" target = "_blank"><code>https://mack-url-shortener.glitch.me/https://www.facebook.com</code></a>
          
        <div>
          <h3>Example Creation Output</h3>
          <code>{ "real-URL": https://www.facebook.com, "short-URL": "https://mack-url-shortener.gli" }</code>
        </div>
        
        
      </div>
   </body>

</html>