/****** Main Styling ******/

#user-stories{
  border-left: 5px solid gray;
  width: 70%;
  text-align: left;
}

#user-stories-text{
  margin: 3%;
}

code{
  text-align: center;
}

h3, p{
  text-align: left;
}

li {
  margin-bottom: 3%;
}

h1{
  text-align: left;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	
	text-align: left;
}

.container {
	padding: 0;
	margin-top: 40px;
  margin-left: 20%;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}